plugins = []
headers = []
redirects = []

[functions]

[functions."*"]

[build]
publish = "C:\\Users\\josha\\OneDrive\\Desktop\\Clawd\\ui-clawdbot\\dist"
publishOrigin = "ui"
commandOrigin = "ui"
base = "C:\\Users\\josha\\OneDrive\\Desktop\\Clawd\\ui-clawdbot"
command = "pnpm run build"

[build.environment]

[build.processing]

[build.processing.css]

[build.processing.html]

[build.processing.images]

[build.processing.js]

[build.services]