redirectsOrigin = "config"
plugins = []
headers = []

[functions]

[functions."*"]

[build]
publish = "C:\\Users\\josha\\OneDrive\\Desktop\\Clawd\\.claude\\worktrees\\condescending-wozniak\\zoe-terminal\\dist"
publishOrigin = "config"
commandOrigin = "config"
base = "C:\\Users\\josha\\OneDrive\\Desktop\\Clawd\\.claude\\worktrees\\condescending-wozniak\\zoe-terminal"
command = "npm run build"

[build.environment]

[build.processing]

[build.processing.css]

[build.processing.html]

[build.processing.images]

[build.processing.js]

[build.services]

[[redirects]]
from = "/*"
to = "/index.html"
status = 200.0
force = false

[redirects.query]

[redirects.conditions]

[redirects.headers]